#class-contain{
background-color: #3c5a9a;
height: 100%;
/* direction: ; */
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
color: white;
}
#mainuplation{
    display: flex;
    flex-direction: row;
justify-content: space-around;
align-items: center;
color: white;
margin-right: 500px;
}
#main-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#banm{
margin-left: 20px;

}
#button{
margin-left: 30px;
color: white;
background-color: #3c5a9a;
}
#start{
    display: flex;
    flex-direction: row;
   
    background-color: #ced4e4;
    /* width: 99%; */
color: #1240a5;
}

#picture{
    width: 50%;
    margin-top: 50px;
    margin-left: 30px;
}
#picture>img{
width: 90%;
margin-left: 30px;
background-color: none;
border: none;
}
#come-on{
    margin-top: 50px;
    margin-left: 10px;
    margin-left: 100px;

}
#clam{
    color: #3c5a9a;
}
#come-on>div>button{
background-color: #6fac56;
color: white;
margin-left: 50px;
}
#man{
margin-left: 150px;

}